# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Reading Data from csv

In [2]:
df = pd.read_csv("C:/Users/10675048/OneDrive - LTIMindtree/CPG DOMAIN/Sample Data/NPD Data/NPD_Beverage_13_Months_Data_Regional_Hierarchy Data.csv",encoding='latin-1')

In [3]:
df.head(5)
df.describe
df.columns
#df.shape

Index(['Date', 'MARKT_HIER_SHORT', 'MARKT_HIER_LONG', 'MARKT_HIER_NUM',
       'MARKT_HIER_LEVEL_NUM', 'MARKT_HIER_LEVEL_NAME', 'PROD_HIER_SHORT',
       'PROD_HIER_LEVEL_NUM', 'PROD_HIER_LEVEL_NAME', '1 CCF level 0',
       'PACK SIZE', 'PRODUCT TYPE', 'MANUFACTURER', 'BRAND', 'SUB-BRAND',
       'VARIANT', 'Prod_Variant_Hier', 'Units (in 1000 ITEM)',
       'Volume (in 1000 KG)', 'Value (in 1000)',
       'Share of Sales in Sellers in Eq. (w)', 'Weight. Distribution (w)',
       'Price per Volume (in USD)', 'Price per Item (in USD)',
       'Unweighted Rate of Sales Eq. (C)', 'Numeric Distribution Selling (C)',
       'TDP.CAL'],
      dtype='object')

# Subsetting Data

In [4]:
data = df[['Date', 'MARKT_HIER_LONG','MARKT_HIER_LEVEL_NAME', 'PRODUCT TYPE', 'MANUFACTURER', 'BRAND', 'SUB-BRAND',
       'VARIANT', 'Prod_Variant_Hier', 'Units (in 1000 ITEM)',
       'Volume (in 1000 KG)', 'Value (in 1000)']]
data.head(1)

#data.to_csv("C:/Users/10675048/OneDrive - LTIMindtree/CPG DOMAIN/Sample Data/NPD Data/data.csv")

,Date,MARKT_HIER_LONG,MARKT_HIER_LEVEL_NAME,PRODUCT TYPE,MANUFACTURER,BRAND,SUB-BRAND,VARIANT,Prod_Variant_Hier,Units (in 1000 ITEM),Volume (in 1000 KG),Value (in 1000)
0,01-08-2021,TOTAL WEST - OTHER WEST PROVINCE 1,FMCG PROVINCE 1 / PROVINCE 2,Carbonated Soft Drinks,Coco-Cool,Coco-Cool,prite,Regular,Carbonated Soft Drinks_Regular,4,0,72

In [5]:
nan_count = data.isnull().sum().sum()
nan_count

0

# Sort the dataframe by 'Dates' and 'Product Type'

In [6]:
data = data.sort_values(by=['PRODUCT TYPE', 'MANUFACTURER','BRAND','SUB-BRAND','VARIANT','Prod_Variant_Hier','Date'])
data.head(1)

,Date,MARKT_HIER_LONG,MARKT_HIER_LEVEL_NAME,PRODUCT TYPE,MANUFACTURER,BRAND,SUB-BRAND,VARIANT,Prod_Variant_Hier,Units (in 1000 ITEM),Volume (in 1000 KG),Value (in 1000)
4232,01-01-2022,TOTAL WEST - OTHER WEST PROVINCE 2,FMCG PROVINCE 1 / PROVINCE 2,Alcoholic Beverages,Anheuser-Buch Bev,Michebob Ultra,Michebob Ultra Lime Cactus,Regular,Alcoholic Beverages _Regular,60,5,930

In [7]:
data = data.groupby(['MARKT_HIER_LONG','MARKT_HIER_LEVEL_NAME','PRODUCT TYPE','MANUFACTURER','BRAND','SUB-BRAND','VARIANT','Prod_Variant_Hier','Date']).agg({'Units (in 1000 ITEM)': 'sum',
    'Volume (in 1000 KG)' : 'sum', 'Value (in 1000)': 'sum'}).reset_index()
#current_time = pd.Timestamp.now().strftime('%d-%m-%Y %H_%M_%S')

data.head(3)
#data.to_csv(f"C:/Users/10675048/OneDrive - LTIMindtree/CPG DOMAIN/Sample Data/NPD Data/data_{current_time}.csv")

,MARKT_HIER_LONG,MARKT_HIER_LEVEL_NAME,PRODUCT TYPE,MANUFACTURER,BRAND,SUB-BRAND,VARIANT,Prod_Variant_Hier,Date,Units (in 1000 ITEM),Volume (in 1000 KG),Value (in 1000)
0,TOTAL WEST - OTHER WEST PROVINCE 1,FMCG PROVINCE 1 / PROVINCE 2,Alcoholic Beverages,Feineken,Amstel Hard,Amstel Hard Bier,Regular,Alcoholic Beverages _Regular,01-01-2022,1552,155,16147
1,TOTAL WEST - OTHER WEST PROVINCE 1,FMCG PROVINCE 1 / PROVINCE 2,Alcoholic Beverages,Feineken,Amstel Hard,Amstel Hard Bier,Regular,Alcoholic Beverages _Regular,01-02-2022,1635,163,16685
2,TOTAL WEST - OTHER WEST PROVINCE 1,FMCG PROVINCE 1 / PROVINCE 2,Alcoholic Beverages,Feineken,Amstel Hard,Amstel Hard Bier,Regular,Alcoholic Beverages _Regular,01-03-2022,2790,279,28161

   Units (in 1000 ITEM)  Volume (in 1000 KG)  Value (in 1000)
0                  1552                  155            16147
1                  1635                  163            16685
2                  2790                  279            28161
3                  2548                  255            25391
4                  2352                  235            24472
5                  3136                  314            32604
6                  1295                  130            13188
7                  2508                  251            23197
8                  2062                  206            20134
9                  1286                  129            13454

# Grouping Data frame By Market & Product

In [13]:
grouped = data.groupby(['MARKT_HIER_LONG','MARKT_HIER_LEVEL_NAME','PRODUCT TYPE','MANUFACTURER','BRAND','SUB-BRAND','VARIANT','Prod_Variant_Hier'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001CCBD7334D0>

In [9]:
data['variant_combo'] = data['MARKT_HIER_LONG']+data['MARKT_HIER_LEVEL_NAME']+data['PRODUCT TYPE']+data['MANUFACTURER']+data['BRAND']+data['SUB-BRAND']+data['VARIANT'].str.strip()
data['variant_combo']

0       TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...
1       TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...
2       TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...
3       TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...
4       TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...
                              ...
3325    TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...
3326    TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...
3327    TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...
3328    TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...
3329    TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...
Name: variant_combo, Length: 3330, dtype: object

In [8]:
data = data.sort_values(by=['Date','key'])

data[['key','Date']]

                                                    key        Date
0     TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...  01-01-2022
13    TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...  01-01-2022
26    TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...  01-01-2022
39    TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...  01-01-2022
52    TOTAL WEST - OTHER WEST PROVINCE 1FMCG PROVINC...  01-01-2022
...                                                 ...         ...
3281  TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...  01-12-2021
3298  TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...  01-12-2021
3255  TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...  01-12-2021
3329  TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...  01-12-2021
3311  TOTAL WEST - OTHER WEST PROVINCE 2FMCG PROVINC...  01-12-2021

[3330 rows x 2 columns]

In [13]:
grouped = data.groupby(['key'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000016BA2049B50>

In [14]:
# Create a new column 'rolling_1M' to store the rolling 1-month sales, voulume and unit
data['Value_rolling_1M'] = grouped['Value (in 1000)'].rolling(window=1,min_periods=1).sum().reset_index(drop=True)
data['Units_rolling_1M'] = grouped['Units (in 1000 ITEM)'].rolling(window=1,min_periods=1).sum().reset_index(drop=True)
data['Volume_rolling_1M'] = grouped['Volume (in 1000 KG)'].rolling(window=1,min_periods=1).sum().reset_index(drop=True)

# Create a new column 'rolling_2M' to store the rolling 2-month sales, voulume and unit

data['Value_rolling_2M'] = grouped['Value (in 1000)'].rolling(window=2,min_periods=1).sum().reset_index(drop=True)
data['Units_rolling_2M'] = grouped['Units (in 1000 ITEM)'].rolling(window=2,min_periods=1).sum().reset_index(drop=True)
data['Volume_rolling_2M'] = grouped['Volume (in 1000 KG)'].rolling(window=2,min_periods=1).sum().reset_index(drop=True)

# Create a new column 'rolling_3M' to store the rolling 3-month sales, voulume and unit
data['Value_rolling_3M'] = grouped['Value (in 1000)'].rolling(window=3,min_periods=1).sum().reset_index(drop=True)
data['Units_rolling_3M'] = grouped['Units (in 1000 ITEM)'].rolling(window=3,min_periods=1).sum().reset_index(drop=True)
data['Volume_rolling_3M'] = grouped['Volume (in 1000 KG)'].rolling(window=3,min_periods=1).sum().reset_index(drop=True)

# Create a new column 'rolling_4M' to store the rolling 4-month sales, voulume and unit
data['Value_rolling_4M'] = grouped['Value (in 1000)'].rolling(window=4,min_periods=1).sum().reset_index(drop=True)
data['Units_rolling_4M'] = grouped['Units (in 1000 ITEM)'].rolling(window=4,min_periods=1).sum().reset_index(drop=True)
data['Volume_rolling_4M'] = grouped['Volume (in 1000 KG)'].rolling(window=4,min_periods=1).sum().reset_index(drop=True)

# Display the updated dataframe
print(data)

data.to_csv("C:/Users/10675048/OneDrive - LTIMindtree/CPG DOMAIN/Sample Data/NPD Data/rolling_months_data1.csv")

                         MARKT_HIER_LONG         MARKT_HIER_LEVEL_NAME  \
0     TOTAL WEST - OTHER WEST PROVINCE 1  FMCG PROVINCE 1 / PROVINCE 2
1     TOTAL WEST - OTHER WEST PROVINCE 1  FMCG PROVINCE 1 / PROVINCE 2
2     TOTAL WEST - OTHER WEST PROVINCE 1  FMCG PROVINCE 1 / PROVINCE 2
3     TOTAL WEST - OTHER WEST PROVINCE 1  FMCG PROVINCE 1 / PROVINCE 2
4     TOTAL WEST - OTHER WEST PROVINCE 1  FMCG PROVINCE 1 / PROVINCE 2
...                                  ...                           ...
3307  TOTAL WEST - OTHER WEST PROVINCE 2  FMCG PROVINCE 1 / PROVINCE 2
3308  TOTAL WEST - OTHER WEST PROVINCE 2  FMCG PROVINCE 1 / PROVINCE 2
3309  TOTAL WEST - OTHER WEST PROVINCE 2  FMCG PROVINCE 1 / PROVINCE 2
3310  TOTAL WEST - OTHER WEST PROVINCE 2  FMCG PROVINCE 1 / PROVINCE 2
3311  TOTAL WEST - OTHER WEST PROVINCE 2  FMCG PROVINCE 1 / PROVINCE 2

                  PRODUCT TYPE MANUFACTURER        BRAND         SUB-BRAND  \
0      Alcoholic Beverages         Feineken  Amstel Hard  Amstel Hard Bier
1      Alcoholic Beverages         Feineken  Amstel Hard  Amstel Hard Bier
2      Alcoholic Beverages         Feineken  Amstel Hard  Amstel Hard Bier
3      Alcoholic Beverages         Feineken  Amstel Hard  Amstel Hard Bier
4      Alcoholic Beverages         Feineken  Amstel Hard  Amstel Hard Bier
...                        ...          ...          ...               ...
3307   Tea                           Tipton       Tipton            Tipton
3308   Tea                           Tipton       Tipton            Tipton
3309   Tea                           Tipton       Tipton            Tipton
3310   Tea                           Tipton       Tipton            Tipton
3311   Tea                           Tipton       Tipton            Tipton

      VARIANT             Prod_Variant_Hier        Date  Units (in 1000 ITEM)  \
0     Regular  Alcoholic Beverages _Regular  01-01-2022                  1552
1     Regular  Alcoholic Beverages _Regular  01-02-2022                  1635
2     Regular  Alcoholic Beverages _Regular  01-03-2022                  2790
3     Regular  Alcoholic Beverages _Regular  01-04-2022                  2548
4     Regular  Alcoholic Beverages _Regular  01-05-2021                  2352
...       ...                           ...         ...                   ...
3307     Diet                     Tea _Diet  01-08-2021                  6427
3308     Diet                     Tea _Diet  01-09-2021                  4040
3309     Diet                     Tea _Diet  01-10-2021                  6651
3310     Diet                     Tea _Diet  01-11-2021                  6127
3311     Diet                     Tea _Diet  01-12-2021                  7679

      ...  Volume_rolling_1M  Value_rolling_2M Units_rolling_2M  \
0     ...              155.0           16147.0           1552.0
1     ...              163.0           32832.0           3187.0
2     ...              279.0           44846.0           4425.0
3     ...              255.0           53552.0           5338.0
4     ...              235.0           49863.0           4900.0
...   ...                ...               ...              ...
3307  ...              392.0           73334.0           3987.0
3308  ...              287.0           80430.0           4526.0
3309  ...              360.0           66767.0           4311.0
3310  ...               53.0           42386.0           2751.0
3311  ...              239.0           32564.0           1949.0

      Volume_rolling_2M  Value_rolling_3M  Units_rolling_3M  \
0                 155.0           16147.0            1552.0
1                 318.0           32832.0            3187.0
2                 442.0           60993.0            5977.0
3                 534.0           70237.0            6973.0
4                 490.0           78024.0            7690.0
...                 ...               ...               ...
3307              598.0          106039.0            5875.0
3308              679.0          104054.0            5901.0
3309              647.0          116477.0            6923.0
3310              413.0           73106.0            4665.0
3311              292.0           68611.0            4346.0

      Volume_rolling_3M  Value_rolling_4M  Units_rolling_4M  Volume_rolling_4M
0                 155.0           16147.0            1552.0              155.0
1                 318.0           32832.0            3187.0              318.0
2                 597.0           60993.0            5977.0              597.0
3                 697.0           86384.0            8525.0              852.0
4                 769.0           94709.0            9325.0              932.0
...                 ...               ...               ...                ...
3307              881.0          133677.0            7410.0             1111.0
3308              885.0          136759.0            7789.0             1168.0
3309             1039.0          140101.0            8298.0             1245.0
3310              700.0          122816.0            7277.0             1092.0
3311              652.0           99331.0            6260.0              939.0

[3330 rows x 25 columns]

# Experiment

In [11]:
import pandas as pd

# Sample data
data = {
    'variantcombo': ['a1', 'a1', 'a1', 'a1', 'a1', 'a1', 'a1', 'a1', 'a1', 'a1', 'a1', 'a1', 'a1', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a7', 'a7', 'a7', 'a7', 'a7', 'a7', 'a8', 'a8', 'a8', 'a8', 'a8', 'a9', 'a9', 'a9', 'a9', 'a10', 'a10', 'a10', 'a11', 'a11', 'a12'],
    'Dates': ['01-05-2021', '01-06-2021', '01-07-2021', '01-08-2021', '01-09-2021', '01-10-2021', '01-11-2021', '01-12-2021', '01-01-2022', '01-02-2022', '01-03-2022', '01-04-2022', '01-05-2022', '01-05-2021', '01-06-2021', '01-07-2021', '01-08-2021', '01-09-2021', '01-10-2021', '01-03-2022', '01-04-2022', '01-05-2022', '01-05-2021', '01-06-2021', '01-07-2021', '01-08-2021', '01-09-2021', '01-10-2021', '01-11-2021', '01-12-2021', '01-01-2022', '01-02-2022', '01-03-2022', '01-04-2022', '01-05-2022', '01-05-2021', '01-12-2021', '01-01-2022', '01-05-2022', '01-05-2021', '01-06-2021', '01-07-2021', '01-05-2021', '01-06-2021', '01-05-2021'],
    'Sales': [7818748, 2924771, 4090707, 9726744, 6986305, 2820180, 6968876, 4388185, 6310561, 9404581, 2204440, 9313770, 6091091, 5180078, 3276271, 9186658, 9153887, 6460826, 5872540, 5521553, 7811517, 1608344, 7001366, 5868254, 1444901, 6329780, 2269821, 6646609, 3033446, 264430, 3955429, 7992266, 3783967, 7399415, 4076197, 3052242, 9728032, 8667830, 9085282, 8009206, 30671, 7715463, 4013728],
    'Volume': [10546, 19340, 17243, 17187, 18712, 9526, 15876, 8488, 13472, 9161, 12758, 19086, 14846, 14045, 8252, 8603, 6403, 19366, 16775, 17313, 9721, 11410, 5723, 5685, 6868, 6136, 15049, 17105, 10605, 4876, 15076, 12868, 15090, 18329, 14895, 15819, 6742, 4756, 10386, 18332, 13411, 11491, 6879],
    'Unit': [741, 151, 237, 566, 373, 296, 439, 517, 468, 1027, 173, 488, 410, 369, 397, 1068, 1430, 334, 350, 319, 804, 141, 1223, 1032, 210, 1032, 151, 389, 286, 54, 262, 621, 251, 404, 274, 193, 1443, 1823, 875, 437, 2, 671, 583]
}

df = pd.DataFrame(data)

# Convert 'Dates' column to datetime
df['Dates'] = pd.to_datetime(df['Dates'], format='%d-%m-%Y')

# Function to calculate rolling sales, volume, and unit for each variantcombo
def calculate_rolling(df):
    # Initialize rolling data for each variantcombo
    rolling_data = {'Dates': [], 'Sales_1month_Rolling': [], 'Volume_1month_Rolling': [], 'Unit_1month_Rolling': [],
                    'Sales_2month_Rolling': [], 'Volume_2month_Rolling': [], 'Unit_2month_Rolling': [],
                    'Sales_3month_Rolling': [], 'Volume_3month_Rolling': [], 'Unit_3month_Rolling': [],
                    'Sales_4month_Rolling': [], 'Volume_4month_Rolling': [], 'Unit_4month_Rolling': []}
    
    # Get unique months for the current variantcombo
    unique_months = df['Dates'].dt.month.unique()
    
    # Loop through each month and calculate rolling sums
    for i, month in enumerate(unique_months):
        # Select data for the current month
        month_data = df[df['Dates'].dt.month == month]
        
        # Calculate rolling sums for 1 to 4 months
        for j in range(1, 5):
            if i + j <= len(unique_months):
                rolling_sales = month_data['Sales'].rolling(window=j, min_periods=1).sum().values[-1]
                rolling_volume = month_data['Volume'].rolling(window=j, min_periods=1).sum().values[-1]
                rolling_unit = month_data['Unit'].rolling(window=j, min_periods=1).sum().values[-1]
            else:
                rolling_sales, rolling_volume, rolling_unit = None, None, None
            
            # Append rolling data to the rolling_data dictionary
            rolling_data[f'Sales_{j}month_Rolling'].append(rolling_sales)
            rolling_data[f'Volume_{j}month_Rolling'].append(rolling_volume)
            rolling_data[f'Unit_{j}month_Rolling'].append(rolling_unit)
            
            # Append the corresponding date for the rolling data
            rolling_data['Dates'].append(month_data['Dates'].values[-1])
    
    # Create DataFrame from rolling_data dictionary
    rolling_df = pd.DataFrame(rolling_data)
    
    return rolling_df

# Apply the function to calculate rolling values for each variantcombo
rolling_results = df.groupby('variantcombo').apply(calculate_rolling).reset_index(drop=True)

print(rolling_results)

ValueError: All arrays must be of the same length

In [2]:
df = pd.read_csv("C:/Users/10675048/OneDrive - LTIMindtree/CPG DOMAIN/Sample Data/NPD Data/rolling_logic_sample_data.csv",encoding='latin-1')

In [4]:
# Convert 'Dates' column to datetime
df['Dates'] = pd.to_datetime(df['Dates'], format='%d-%m-%Y')
df['Dates']

0    2021-05-01
1    2021-06-01
2    2021-07-01
3    2021-08-01
4    2021-09-01
        ...
74   2021-06-01
75   2021-07-01
76   2021-05-01
77   2021-06-01
78   2021-05-01
Name: Dates, Length: 79, dtype: datetime64[ns]

In [12]:
def calculate_rolling(df):
    # Initialize rolling data for each variantcombo
    rolling_data = {'Dates': [], 'Sales_1month_Rolling': [], 'Volume_1month_Rolling': [], 'Unit_1month_Rolling': [],
                    'Sales_2month_Rolling': [], 'Volume_2month_Rolling': [], 'Unit_2month_Rolling': [],
                    'Sales_3month_Rolling': [], 'Volume_3month_Rolling': [], 'Unit_3month_Rolling': [],
                    'Sales_4month_Rolling': [], 'Volume_4month_Rolling': [], 'Unit_4month_Rolling': []}
    
    
        # Get unique months for the current variantcombo
        
        unique_months = df['Dates'].dt.month.unique()
        
        # Loop through each month and calculate rolling sums
        for i, month in enumerate(unique_months):
            # Select data for the current month
            month_data = df[df['Dates'].dt.month == month]
            
            # Calculate rolling sums for 1 to 4 months
            for j in range(1, 5):
                if i + j <= len(unique_months):
                    rolling_sales = month_data['Sales'].rolling(window=j, min_periods=1).sum().values[-1]
                    rolling_volume = month_data['Volume'].rolling(window=j, min_periods=1).sum().values[-1]
                    rolling_unit = month_data['Unit'].rolling(window=j, min_periods=1).sum().values[-1]
                else:
                    rolling_sales, rolling_volume, rolling_unit = month_data['Sales'], month_data['Volume'], month_data['Unit']
                
                # Append rolling data to the rolling_data dictionary
                rolling_data[f'Sales_{j}month_Rolling'].append(rolling_sales)
                rolling_data[f'Volume_{j}month_Rolling'].append(rolling_volume)
                rolling_data[f'Unit_{j}month_Rolling'].append(rolling_unit)
                
                # Append the corresponding date for the rolling data
                rolling_data['Dates'].append(month_data['Dates'].values[-1])
        
        # Create DataFrame from rolling_data dictionary
        rolling_df = pd.DataFrame(rolling_data)
        
        return rolling_df

In [15]:
# Apply the function to calculate rolling values for each variantcombo
rolling_results = df.groupby('varaintcombo').apply(calculate_rolling(df)).reset_index(drop=True)
#rolling_results
#print(rolling_results)

ValueError: All arrays must be of the same length

In [14]:
#df['variantcombo'].unique()
df.head(5)

  varaintcombo      Dates    Sales  Volume  Unit
0           a1 2021-05-01  7818748   10546   741
1           a1 2021-06-01  2924771   19340   151
2           a1 2021-07-01  4090707   17243   237
3           a1 2021-08-01  9726744   17187   566
4           a1 2021-09-01  6986305   18712   373

In [16]:
unique_months = df['Dates'].dt.month.unique()
unique_months

array([ 5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4])

In [18]:
list(enumerate(unique_months))

[(0, 5),
 (1, 6),
 (2, 7),
 (3, 8),
 (4, 9),
 (5, 10),
 (6, 11),
 (7, 12),
 (8, 1),
 (9, 2),
 (10, 3),
 (11, 4)]

In [20]:
unique_variants =df['varaintcombo'].unique()
list(enumerate(unique_variants))

[(0, 'a1'),
 (1, 'a2'),
 (2, 'a3'),
 (3, 'a4'),
 (4, 'a5'),
 (5, 'a6'),
 (6, 'a7'),
 (7, 'a8'),
 (8, 'a9'),
 (9, 'a10'),
 (10, 'a11'),
 (11, 'a12')]